#h-gitter-repo-clone-panel {
    margin-top: 3rem;
}

#h-gitter-repo-tree-page{
    .breadcrumb {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #h-gitter-repo-tree {
        .list-cell-h-gitter-repo-tree-basename {
            white-space: nowrap;
        }
    }
}

#h-gitter-file-content-ace {
    display: block;
    margin : -1.5rem;
    // position: fixed;
    width: calc(~"100% + 3rem");
    overflow-y: visible;

    .ace_scrollbar-v {
        display: none;
    }
}

#h-gitter-repo-commits {
    .commits-list {
        margin-top: 3rem;

        .commit-btn {
            width: 7.4rem;
        }

    }
}

.commit-avatar {
    @dimension: 5rem;

    width: @dimension;
    height: @dimension;
    line-height: @dimension;
    border-radius: 100%;

    &.default-avatar {
        background-color: #333;
        color: #ddd;
        text-align: center;
    }

    &.small {
        @dimension: 2rem;

        width: @dimension;
        height: @dimension;
        line-height: @dimension;
    }
}

#choose-revision-content {
    position: absolute;
}

.commit-details {
    #commit-details-header {
        margin-bottom: 3rem;
    }

    .commit-summary {
        margin-bottom: 3rem;
    }
    .panel-heading {
        button {
            margin : 0;
        }
    }

    .panel-body {
        overflow-x: auto;
    }

    #commit-files-summary {
        margin-top: -1.5rem;
        margin-bottom : 2rem;

        ul {
            list-style-type: none;
            font-size: 1.1em;
            font-weight: bold;
        }
    }


    .file-diff {
        font-family: monospace;
        width: calc(~"100% + 3rem");
        margin : -1.5rem;

        td {
            &.empty, &.prev-line-number, &.new-line-number {
                border-right: 1px solid #ddd;
                text-align: center;
            }

            &.empty {
                background-color: #ddd;
            }

            &.prev-line-number, &.new-line-number {
                width: 4rem;
            }

            &.file-diff-block-summary {
                color: #ccc;
                background-color: #eee;
                padding-left: .5rem;
            }

            &.code {
                padding-left: .5rem;
            }
        }
    }
}

/* Branches list */
#h-gitter-repo-branches-list {
    .list {
        margin-top: 2rem;
    }
    .branch-badge {
        text-transform: lowercase;
        font-size: 1.5rem;
    }

    .branch-diff-summary {
        width: 11rem;
        .diff-count {
            width: 5rem;
            display: inline-block;
            font-weight: bold;

            &.no-diff {
                visibility: hidden;
            }

            &.ahead {
                border-right: .2rem solid #ddd;
                text-align: right;
                color: brown;

                .cursor {
                    border-color : brown;
                    border-radius: .2rem 0 0 .2rem;
                }
            }

            &.behind {
                border-left: .2rem solid #ddd;
                text-align: left;
                margin-left: -.4rem;
                color : green;

                .cursor {
                    border-color : green;
                    border-radius: 0 .2rem .2rem 0;
                }
            }

            .cursor {
                border-width : .2rem;
                border-style: solid;
                height: 0;
                display: inline-block;
            }
        }
    }
}